body{
    margin: 0;
    background-color: hsl(0, 0%, 17%);
}
.container{
    display:flex;
    justify-content: space-evenly;
    background-color: hsl(0, 0%, 20%);
}

.container a{
    text-decoration: none;
    color:white;
    margin:5px;
    cursor: pointer;
    padding: 20px;
    background-color: hsl(0, 0%, 30%);
    border-radius: 100px;
}
.container a:hover{
    transform: translate(10%,0);
    background-color: hsl(0, 0%, 40%);
}
.container a:active{
    transform: scale(105%,105%);
    background-color: hsl(0, 0%, 50%);
}
.line1 h2{
    background-color: hsl(0, 0%, 40%);
    font-size: 35px;
    margin-bottom: 0;
}
.line1 h2 button{
    margin:0;
    font-size: 25px;
    cursor: pointer;
    background-color: hsl(0, 0%, 70%);
    border: 0;
    height: 45px;
    width: 50px;
    margin-right: 25px;

}
.line1 p{
    margin-left: 50px;
    background-color: hsl(0, 0%, 65%);
    padding: 15px;
    margin-top:0;
    display:none;
    position: absolute;
    box-shadow: 5px 5px 5px;
    width: 94.75%;
}


.line2 h2{
    background-color: hsl(0, 0%, 40%);
    font-size: 35px;
    margin-bottom: 0;
    
}
.line2 h2 button{
    margin:0;
    font-size: 25px;
    cursor: pointer;
    background-color: hsl(0, 0%, 70%);
    border: 0;
    height: 45px;
    width: 50px;
    margin-right: 25px;

}

.line2 #howtonho1 {
    margin-left: 50px;
    background-color: hsl(0, 0%, 65%);
    padding: 15px;
    margin-top:0;
    width: 94.75%;
    margin-bottom: 0;
    border-bottom: 2px solid;
}
.line2 #howtonho2{
    margin-left: 50px;
    background-color: hsl(0, 0%, 65%);
    padding: 15px;
    margin-top:0;
    width: 94.75%;
    border-bottom: 2px solid;
    margin-bottom: 0;
}
.line2 #howtonho3{
    
    margin-left: 50px;
    background-color: hsl(0, 0%, 65%);
    padding: 15px;
    margin-top:0;
    width: 94.75%;
    border-bottom: 2px solid;
}
.line2 #howtonho{
    display:none
}
